---
import { getMainMenu, getCategoryMenu } from '@/lib/utils/menu';
import { getSinglePage } from '@/lib/contentParser.astro';
const { lang } = Astro.params;
const { pathname } = Astro.url;
const toggleId = `nav-toggle`;
const posts = await getSinglePage('posts', lang);
const websiteMenus = await getMainMenu(lang);
const categoriesMenus = await getCategoryMenu(posts, lang);
---

<header class="header mt-8 pb-3 pt-12">
  <nav class="navbar container text-center md:text-left">
    <!-- navbar toggler -->
    <input id={toggleId} type="checkbox" class="hidden" />
    <label
      for={toggleId}
      class="order-3 cursor-pointer rounded border border-border lg:p-9 p-4 inline-flex items-center lg:order-1 md:hidden"
    >
      <svg id="show-button" class="mr-1 h-4 w-4 fill-current block" viewBox="0 0 20 20">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
      <svg id="hide-button" class="mr-1 h-4 w-4 fill-current hidden" viewBox="0 0 20 20">
        <title>Menu Close</title>
        <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2" transform="rotate(45 10 10)"
        ></polygon>
      </svg>
      Menu
    </label>
    <!-- /navbar toggler -->

    <ul
      id="nav-menu-website"
      class="navbar-nav order-3 w-full hidden flex-col items-center justify-center space-y-2 md:order-1 md:flex md:w-auto md:flex-row md:space-y-0 md:space-x-2"
    >
      {
        websiteMenus.map((menu) => (
          <li class="nav-item">
            <a
              href={menu.url}
              class={`nav-link inline-block ${
                pathname === `${menu.url}/` || pathname === menu.url ? 'nav-link-active' : ''
              } ${menu.url.includes('/ui-kit') ? 'text-red-600' : ''}`}
            >
              {menu.name}
            </a>
          </li>
        ))
      }
    </ul>

    <ul
      id="nav-menu-categories"
      class="navbar-nav order-3 w-full hidden flex-col items-center justify-center space-y-2 md:flex md:w-auto md:flex-row md:space-y-0 md:space-x-2 md:mt-6 mt-0"
    >
      {
        categoriesMenus.map((menu) => (
          <li class="nav-item">
            <a
              href={menu.url}
              class={`nav-link inline-block ${pathname === `${menu.url}/` || pathname === menu.url ? 'nav-link-active' : ''}`}
            >
              {menu.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
