---
import Base from '@/layouts/Base.astro';
import { getSinglePage } from '@/lib/contentParser.astro';
import PageHeader from '@/partials/PageHeader.astro';
import { render } from 'astro:content';

// get static paths for all pages
export async function getStaticPaths() {
  const pages = await getSinglePage('pages');

  const paths = pages.map((page) => ({
    params: {
      regular: page.id,
    },
    props: { page },
  }));
  return paths;
}

const { page } = Astro.props;
const { title, meta_title, description, image, justify } = page.data;
const { Content } = await render(page);
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  <div class="herohubs-section" style="padding-bottom: 160px">
    <PageHeader title={title} />
    <section class="section-sm">
      <div class="container" class:list={justify ? 'text-justify' : ''}>
        <div class="row justify-center rounded-xl p-12 lg:p-9 h-full border border-border bg-body/90">
          <div class="lg:col-10">
            <div class="content">
              <Content />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Base>
