---
import ImageMod from "@/components/ImageMod.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import theme from "@/config/theme.json";
import social from "@/config/social.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import MainBlocks from "@/components/home/MainBlocks.astro";
import How from "@/components/home/How.astro";
import Why from "@/components/home/Why.astro";
import Services from "@/components/home/Services.astro";
import Customers from "@/components/home/Customers.astro";
import Contacts from "@/components/home/Contacts.astro";
import Blog from "@/components/home/Blog.astro";

const { primary } = theme.colors.default.theme_color;
const { name, image, designation, bio } = config.profile;
---

<Base>
  {/* profile */}
  <div class="section herohubs-section">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center lg:col-8">
          <ImageMod
            class="mx-auto rounded-full"
            src={image}
            width={220}
            height={220}
            alt={name}
            loading="eager"
            style={`border: 3px solid ${primary}`}
          />
          <h1
            set:html={markdownify(name)}
            class="mt-12 text-6xl lg:text-8xl font-semibold"
          />
          <p
            set:html={markdownify(designation)}
            class="mt-6 text-primary text-xl bg-body/80 inline-block p-10 py-2 rounded-full"
          />
          <p set:html={markdownify(bio)} class="mt-4 leading-9 text-xl" />
          <Social source={social.main} className="social-icons mt-8" />
        </div>
      </div>

      {/* contents */}
      <div class="pt-4 mt-24">
        <div class="container">
          <div class="row">
            <div class="mx-auto lg:col-12">
              <div class="row g-4">
                <MainBlocks className="col-12 sm:col-3" />
                <Why className="col-12 sm:col-12" />
                <How className="col-12 sm:col-12" />
                <Services className="col-12 sm:col-12 hidden md:block" />
                <Customers className="col-12 sm:col-12" />
                <Blog className="col-12 sm:col-12 hidden lg:block" />
                <Contacts className="col-12 sm:col-12" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Base>
