---
const { className } = Astro.props;
import contacts from "@/config/home/contacts.json";
import social from "@/config/social.json";

import Social from "../Social.astro";
---

<section class={className} id="education">
  <div class="rounded border border-primary p-12 lg:p-9 h-full">
    <ul class="flex justify-center items-center space-x-4">
      <h4 class="text-primary">{contacts.title}</h4>
    </ul>
    <p class="my-4">
      <ul class="space-y-6">
        <li class="border-border">
          <h6 class="text-center">{contacts.subtitle}</h6>
          <p class="text-muted-foreground text-center my-4">
            {contacts.text}
          </p>
        </li>
      </ul>
      <div class="hidden sm:block">
        <div class="w-full flex items-center justify-center">
          <Social source={social.main} className="social-icons mt-8" />
        </div>
        <h6 class="text-center my-4">{contacts.email}</h6>
      </div>
    </p>
  </div>
</section>
