---
const { className } = Astro.props;
import customers from '@/config/home/customers.json';
---

<section class={className} id="customers">
  <div class="rounded-4xl p-12 lg:p-9 h-full border border-border bg-body/85">
    <p class="my-4">
      <ul class="space-y-6">
        <li class="border-border">
          <h6 class="text-center">{customers.title}</h6>
          <p class="text-muted-foreground text-center my-4">
            {customers.subtitle}
          </p>
        </li>
      </ul>

      <div class="relative overflow-hidden py-4">
        <div class="flex flex-wrap justify-center hover:[animation-play-state:paused] gap-x-20 gap-y-10">
          {
            customers.items.map((item, index) => (
              <a
                href={item.url}
                target="_blank"
                rel="noopener noreferrer"
                class="flex-shrink-0 flex justify-center items-center w-26"
              >
                <img
                  src={item.image}
                  alt={item.name}
                  loading="lazy"
                  class="max-h-26 object-contain opacity-70 hover:opacity-85 transition-all duration-250 ease-in-out rounded-4xl bg-white/5 bg-white/100 backdrop-blur-sm p-2"
                />
              </a>
            ))
          }
        </div>
      </div>
    </p>
  </div>
</section>
