---
const { className } = Astro.props;
import story from "@/config/home/story.json";

export interface IEducation {
  degree: string;
  institution: string;
  period: string;
  details: string;
}
---

<section class={className} id="education">
  <div class="rounded border border-primary p-12 lg:p-9 h-full">
    <ul class="flex justify-center items-center space-x-4">
      <h4 class="text-primary">{story.title}</h4>
    </ul>
    <p class="my-4">
      <ul class="space-y-6">
        <li class="border-border">
          <h6 class="text-center">{story.subtitle}</h6>
          <p class="text-muted-foreground text-center my-4">
            {story.text1}
          </p>
          <p class="text-muted-foreground text-center my-4">
            {story.text2}
          </p>
        </li>
      </ul>
    </p>
  </div>
</section>
