---
import Base from '@/layouts/Base.astro';
import { getSinglePage } from '@/lib/contentParser.astro';
import PageHeader from '@/partials/PageHeader.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
  const pages = await getSinglePage('pages');

  return pages.map((page) => {
    const [lang, ...slugParts] = page.id.split('/');
    const regular = slugParts.join('/');

    return {
      params: {
        lang,
        regular,
      },
      props: {
        page,
        lang,
      },
    };
  });
}

const { page } = Astro.props;
const { title, meta_title, description, image, justify } = page.data;
const { Content } = await render(page);
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  <div class="section herohubs-section" style="padding-bottom: 160px">
    <PageHeader title={title} />
    <section class="section-sm ml-5 mr-5">
      <div class="container" class:list={justify ? 'text-left md:text-justify' : ''}>
        <div class="row justify-center rounded-4xl p-12 lg:p-9 h-full border border-border bg-body/85">
          <div class="lg:col-10">
            <div class="content">
              <Content />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Base>
