---
import Post from '@/components/Post.astro';
import Base from '@/layouts/Base.astro';
import config from '@/config/config.json';
import { getSinglePage } from '@/lib/contentParser.astro';
import { getTaxonomy } from '@/lib/taxonomyParser.astro';
import taxonomyFilter from '@/lib/utils/taxonomyFilter';
import PageHeader from '@/partials/PageHeader.astro';

export async function getStaticPaths() {
  const languages = config.settings.languages;
  const categories = await getTaxonomy('posts', 'categories');

  return categories.flatMap((category) =>
    languages.map((lang) => ({
      params: {
        lang,
        category,
      },
    })),
  );
}

const { lang, category } = Astro.params;

const posts = (await getSinglePage('posts')).filter((p) => p.id.startsWith(`${lang}/`));
const filterByCategories = taxonomyFilter(posts, 'categories', category!);
---

<Base meta_title={category} lang={lang}>
  <div class="section herohubs-section">
    <PageHeader title={category} />
    <section class="section-sm ml-5 mr-5">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row gy-4">
              {filterByCategories.map((post) => <Post className="sm:col-6" post={post} lang={lang} />)}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Base>
