---
import Post from '@/components/Post.astro';
import Base from '@/layouts/Base.astro';
import mainConfig from '@/config/main-config.json';
import { getSinglePage } from '@/lib/contentParser.astro';
import { getTaxonomy } from '@/lib/taxonomyParser.astro';
import taxonomyFilter from '@/lib/utils/taxonomyFilter';
import PageHeader from '@/partials/PageHeader.astro';
import { sortByDate } from '@/lib/utils/sortFunctions';

const { lang, category } = Astro.params;

export async function getStaticPaths() {
  const paths = [];

  for (const lang of mainConfig.settings.languages) {
    const categories = await getTaxonomy('posts', 'categories', lang);

    for (const category of categories) {
      paths.push({
        params: {
          lang,
          category,
        },
      });
    }
  }

  return paths;
}

const posts = (await getSinglePage('posts', lang)).filter((p) => p.id.startsWith(`${lang}/`));
const filterByCategories = taxonomyFilter(posts, 'categories', category!);
---

<Base meta_title={category} lang={lang}>
  <div class="section herohubs-section">
    <PageHeader title={category} />
    <section class="section-sm ml-5 mr-5">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row gy-4">
              {sortByDate(filterByCategories).map((post) => <Post className="sm:col-6" post={post} lang={lang} />)}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Base>
