---
import Pagination from '@/components/Pagination.astro';
import Post from '@/components/Post.astro';
import mainConfig from '@/config/main-config.json';
import Base from '@/layouts/Base.astro';
import { getSinglePage } from '@/lib/contentParser.astro';
import { sortByDate } from '@/lib/utils/sortFunctions';
import PageHeader from '@/partials/PageHeader.astro';

const { languages, pagination: pageSize } = mainConfig.settings;

export async function getStaticPaths() {
  const { languages, pagination: pageSize } = mainConfig.settings;
  const paths = [];

  for (const lang of languages) {
    const posts = await getSinglePage('posts', lang);
    const sortedPosts = sortByDate(posts);
    const totalPages = Math.ceil(posts.length / pageSize);

    for (let i = 1; i <= totalPages; i++) {
      paths.push({
        params: {
          lang,
          slug: i.toString(),
        },
        props: {
          posts: sortedPosts,
          totalPages,
        },
      });
    }
  }

  return paths;
}

const { lang, slug } = Astro.params;
const { posts: allPosts, totalPages } = Astro.props;

const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPost = currentPage * pageSize;
const indexOfFirstPost = indexOfLastPost - pageSize;
const currentPosts = allPosts.slice(indexOfFirstPost, indexOfLastPost);
---

<Base>
  <section class="section herohubs-section">
    <PageHeader title={`Pagina ${currentPage}`} />

    <div class="container">
      <div class="row">
        <div class="mx-auto lg:col-10">
          <div class="row">
            {
              currentPosts.map((post, i) => (
                <Post className="col-12 mb-6 sm:col-6" key={'key-' + i} post={post} lang={lang} />
              ))
            }
          </div>
        </div>
      </div>
      <div class="mt-12">
        <Pagination totalPages={totalPages} currentPage={currentPage} lang={lang} />
      </div>
    </div>
  </section>
</Base>
